.resume {
	border: 12px #000 solid;
	margin: 50px;
	padding: 30px;
	width: 850px;
	background: linear-gradient(to bottom, gray, #fe4100);
}
.name {
	text-align:center;
	font-family: Helvetica, Arial;
}

topinfo p
{
margin:0;
}



.info
{
	width: 400px;
	float: left;
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	border-top: 1px #000 solid;
}


h1, h2, h3, { margin: 0; }
h1 {
	font-size: 14pt;
	font-family: Helvetica, Arial, "Times New Roman";
	line-height: 20pt;
	margin:10px 0 0 0;
}
h2 {
	font-size: 12pt;
	font-family: Helvetica, Arial, "Times New Roman";
	line-height: 14pt;
}

h3 {
	font-size: 10pt;
	font-family: Helvetica, Arial, "Times New Roman";
	line-height: 14pt;
}
p {
	margin: 0 0 0 20px;
	font-family: Helvetica, Arial;
	text-indent: 0;
	font-size: 10pt;
	line-height: 14pt;
}
ul li {
	font-size: 10pt;
	font-family: Helvetica, Arial;
	line-height: 14pt;
	list-style-type: square;
	list-style-position: outside;
	margin-top: 0;
	margin-bottom:0;
}
